.rtables-table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.rtables-head {
  background: rgb(117, 95, 224);
}

.rtables-th {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}


.test {
  color: rgb(143, 245, 81);
}

.newtest {
  color: rgb(194, 61, 124);
}

.rtables-tr {
  background:rgb(233, 233, 233);
}

.rtables-tr:hover {
  background: rgb(208, 239, 249);
}

.rtables-td {
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
  text-align: center;
}

.rtables-td:hover {
  background: rgb(103, 205, 215);
}
